<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agent Invitation</title>
</head>
<body>
    <p>Hello,</p>
    <p>You have been invited by {{ inviterName }} to be their agent on this property.</p>
    <p>Kindly click on the following link to accept the invitation:</p>
    <p><a href="{{ lactionUrl }}">Accept Invitation</a></p>
    <p>If you did not request this invitation, please disregard this email.</p>
    <p>Thank you!</p>
</body>
</html>
