<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agent Invite Accepted</title>
  </head>
  <body>
    <div
      style="
        font-family: Arial, sans-serif;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
      "
    >
      <h1 style="color: #333333">Agent Invite Rejected!</h1>
      <p style="color: #666666">Hello {{ name }},</p>
      <p style="color: #666666">
        We are sorry to inform you that {{agentName}} the agent you invited to property "{{
          property
        }}" has rejected the invitation. You can invite a different agent.
      </p>
      <p style="color: #666666">
        You can invite a different agent on the platform, or send out an
        invitation to an agent not on the app.
      </p>
      <p style="color: #666666">
        If you have any questions or need further assistance, feel free to reach
        out to us. We're here to help!
      </p>
      <br />
      <p style="color: #666666">Best regards,</p>
      <p style="color: #666666">OCReal Team</p>
    </div>
  </body>
</html>
